
.btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 15px 40px;
      display: inline-block;
      border-radius: 100px;
      transition: all 0.2s;
      position: relative;
    }
  
    &--white {
      background-color: $color-white;
      color: $color-grey-dark;
    }
  
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px 10px rgba($color-black,.2);
      
      &::after {
        transform: scale(1.2) scaleY(1.6); /** Duplicate the size*/
        opacity: 0;
      }
    }
  
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px 10px rgba($color-black, 0.2);
    }
  
    &::after {
      content: "";
      display: inline-block;
      display: 100%;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  
    &--white::after {
      background-color: #fff;
    }
  
    &--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards; /*do the animation before the first status*/
    }
  }
  